@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #f3f4f6;
  color: #111827;
  font-family: 'Inter', sans-serif;
}